.form {
    background-color: var(--color-background);
    padding: 32px 28px;
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
    color: var(--color-text);

    .form-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
    }

    .field-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .field-group-list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .form-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }

    .form-fiedlset {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form-input {
        border-radius: 8px;
        background-color: var(--color-background);
        border: 1px solid var(--color-border);
        padding: 8px 16px;
        color: var(--color-text);
    }

    .form-input:focus {
        outline: none;
        border: 1px solid var(--color-text);
    }

    .form-actions {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: var(--color-background);
        padding: 8px 16px;
        background-color: var(--color-primary);
        border-radius: 8px;
        border: none;
        margin-top: 32px;
    }

    .form-button:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
